<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Artículo</title>
</head>
<body>
<h1>Registrar un Nuevo Artículo</h1>
<form action="/registrarArticulo" method="post">
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo" required><br><br>

    <label for="revista">Revista:</label>
    <select id="revista" name="revista" required>
        <option value="ISBN1">Revista 1</option>
        <option value="ISBN2">Revista 2</option>
        <option value="ISBN3">Revista 3</option>
        <option value="ISBN4">Revista 4</option>
        <option value="ISBN5">Revista 5</option>
    </select><br><br>

    <label>Estado:</label><br>
    <input type="radio" id="aceptado" name="estado" value="ACP" required>
    <label for="aceptado">Aceptado</label><br>

    <input type="radio" id="revision" name="estado" value="REV" required>
    <label for="revision">Revisión</label><br>

    <input type="radio" id="desarrollo" name="estado" value="DES" required>
    <label for="desarrollo">Desarrollo</label><br><br>

    <input type="submit" value="Registrar">
</form>

<a href="/bienvenida">Regresar a la pantalla de Bienvenida</a><br>
<a href="/nueva-revista">Ir a la pantalla de Nueva Revista</a>
</body>
</html>
